/* Importando a fonte Comfortaa do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to left, #417B94 00%, #4AA3C7 71%);
  color: #ffffff; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .content {
    width: 60%;
  }
  
.header {
  display: flex;
  text-align: left;
  margin-left: 100px;
  padding: 20px;
}

.header img {
  max-width: 100px;
}

.header h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

.header h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.header p {
  font-size: 1em;
  margin: 1em 0;
}

.inputs {
    display: flex;
    gap: 10px; 
  }
  
  .inputs input,
  .inputs select {
    flex: 1; 
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
    background: transparent;
    color: #fff; 
    font-family: 'Comfortaa', sans-serif; 
    max-width:fit-content
  }
  
  .inputs input::placeholder {
    color: #fff; 
  }
  
  .inputs select option {
    background: #417B94;
    color: #fff; 
  }