/* Importando a fonte Comfortaa do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
  font-family: 'Comfortaa', sans-serif;
  font-weight: regular;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
}
